<div class="card">
    <h2>{{h2}}</h2>
    <p>{{text}}</p>
    <!-- <strong>Number: {{num}}</strong>
    <em>{{array}}</em> -->
    <!--array.join() // "1,2,3,4"-->
    <!-- <p>Name: {{obj.name}}</p>
    <p>Age: {{obj.info.age}}</p>

    <pre>
        {{obj | json}}
    </pre> -->

    <!-- <p>{{getInfo()}}</p> -->
    <!-- <div> -->
    <!-- <img src="{{imgUrl}}" alt="{{imgUrl}}"> -->
    <!-- <img [src]="imgUrl" alt="imgUrl"> -->
    <!-- </div> -->
    <!-- <br>
    <button [disabled]="disable">Enable</button> -->

    <div>
        <button (click)="changeH2()">Change h2</button>
        <button (click)="h2='what what in the but'">Change h2(1)</button>
    </div>

    <div>
        <input type="text" (input)="inputHendler()">
    </div>
</div>
