<div>
    <header class="header">
        <div class="header__hamburger" id="hamburger">
            <button>
                <mat-icon aria-hidden="false" aria-label="Example">
                    <span class="material-icons-outlined">
                        apps
                    </span>
                </mat-icon>
            </button>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                </ul>
                <ul>
                    <li><a href="#">About</a></li>
                </ul>
                <ul>
                    <li><a href="#">More</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__profile">
            <button>
                <img src="assets/images/profile.jpg" alt="profile">
            </button>
        </div>
    </header>
</div>
